* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text {
  color: red;
  font-size: 18px;
}

.text-for-password,
.input {
  text-align: center;
}

#input {
  width: 35%;
  margin-top: 20px;
}
